

.alert-box {
    color:#555;
    border:1px solid #ededed;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;

}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.message {

}
.forum {

}
.gallery {

}
.file {

}

