

.alert-box {
    border:1px solid #ededed;
    font-family:OpenSans;font-size:16px;
    
	text-align: center;
	vertical-align: middle;
}

.heading-box{
    font-weight:bold;
    text-transform:uppercase;
	border-right:1px solid #ededed;
	width : 25%;
	float: left;
	vertical-align: middle;
	padding: 10% 0;
}

.tail-box{
	text-align: left;
	width : 70%;
	float: right;
	vertical-align: middle;
	padding: 10% 0;
}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

a { color: inherit; } 