

.alert-box {
    color:#555;
    border:1px solid #ededed;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
	align-text: center;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

.message {

}
.forum {

}
.gallery {

}
.file {

}

a { color: inherit; } 